

.background-text {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.599), rgba(0, 0, 0, 0.429)), url(../images/oshinoko.jpg);
  background-size: cover;
  position: relative;
}

.text1, .text2 {
   z-index: 10;
   font-family: 'Intern', sans-serif;
   color: #fff; /* Warna teks putih */
   text-align: center;
   justify-items: center;
}

.text1 {
   font-weight: 600; /* Semibold */
   font-size: 64px;
   
}

.text2 {
   font-weight: 100; /* Misalnya Regular atau sesuai kebutuhan */
   font-size: 30px;
}

.logintext{
   font-family: 'Oswald', sans-serif;
   font-weight: 600; /* Semibold */
   font-size: 64px;
}

.input-form-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Rata kiri */
 }
 
 .custom-input {
   width: 763px;
   height: 89px;
   margin-bottom: 15px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
 }

 .vertical-line {
   border-left: 5px solid rgb(8 145 178); /* Warna dan ketebalan garis dapat disesuaikan */
 }

 .h-full{
   margin: 0;
   padding: 0;
   height: 100%;
 }

 .alternative{
   font-family: 'Oswald', sans-serif;
   color: #050505; /* Warna teks putih */
   text-align: center;
   justify-items: center;
  
 }


 .alternative button{
     padding: 10px 20px;
     margin: 10px 0 0 0;
     color: #fff; /* Warna teks tombol */
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     border-radius: 5px; /* Memberikan sudut lengkung pada tombol */
     width: 400px;
 }

 .px-20{
  margin-top: 10px;
 }

 .text-footer{
  width: 400px;
 }

.logo{
  justify-items: center;
  align-items: center;
}